:root {
  /* Цвета для палитры не выносил, т.к. скорее всего будем брать с бека */
  /* Цвета из правой колонки не выносил, т.к. это будут просто иконки с градентом и т.д. */
  --black: 38 36 36;
  --border: 212 211 211;
  --text: 147 146 146;
  --link: 117 109 151;
  --red: 252 116 84;
  --green: 52 168 83;
  --orange: 255 138 0;
  --disabled:77 77 77;

  --main: 84 142 255;
  --dark: 74 76 78;
  --gray: 159 167 176;
  --gray-blue-dark:159 167 176;
  --gray-blue-light:244 247 251;
  --gray-light:240 240 240;
  --white: 255 255 255;
  --error: 244, 129, 121;

  }